@{
    ViewData["Title"] = "Home Page";
}

<br>
<div class="usa-grid">
    <div class="usa-width-two-thirds">
        <h2>FEDPAY Reports</h2>
        <ul>
            <li><span class="usa-label ">New</span> Welcome to FEDPAY Reports</li>
            <li>9/13/2018 - FEDPAY reporting data is online.</li>
        </ul>
    </div>
    <div class="usa-width-one-third">
        <h3>&nbsp;</h3>
        <p>FEDPAY -  FAS PO and Invoice </p>
    </div>

</div>