
@{
    ViewData["Title"] = "Demo";
}

<h2>Purchase Order Query Report</h2>

<div>
    <div class="grid-row grid-gap">
        <div class="grid-col-10 text-bold text-underline">PO Summary</div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-10">&nbsp;</div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-1 text-bold">FEDPAY PO #</div>
        <div class="grid-col-1">2JLD3837N</div>
        <div class="grid-col-1 text-bold">VEN #</div>
        <div class="grid-col-1">132730002</div>
        <div class="grid-col-1 text-bold">CONTR #</div>
        <div class="grid-col-1">GS02F0172X</div>
        <div class="grid-col-1"></div>
        <div class="grid-col-1"></div>
        <div class="grid-col-1 text-bold">ORDER DATE</div>
        <div class="grid-col-1">12/8/2016</div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-1 text-bold">FSS PO #</div>
        <div class="grid-col-1">NMJLD3837N</div>
        <div class="grid-col-2 text-bold">MONEY ONLY IND</div>
        <div class="grid-col-6"> </div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-1"></div>
        <div class="grid-col-1"></div>
        <div class="grid-col-1 text-bold">TD </div>
        <div class="grid-col-1">05</div>
        <div class="grid-col-1 text-bold">FOB </div>
        <div class="grid-col-1">E</div>
        <div class="grid-col-1 text-bold">AMEND # </div>
        <div class="grid-col-1">00</div>
        <div class="grid-col-1 text-bold">AMEND DT </div>
        <div class="grid-col-1">10/05/2016</div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-auto text-bold">DISC TERMS</div>
        <div class="grid-col-fill ">00.000%-00 00.000%-00 NET-30</div>
    </div>
    <div class="grid-row">
        <div class="grid-col-5"></div>
        <div class="grid-col-5">
            <div>
                <div class="grid-row grid-gap">
                    <div class="grid-col-fill text-bold">PHONE</div>
                    <div class="grid-col-auto">212-264-7180</div>
                    <div class="grid-col-fill text-bold">BOAC</div>
                    <div class="grid-col-fill">R22202</div>
                    <div class="grid-col-fill text-bold">CONS</div>
                    <div class="grid-col-fill">R22202</div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-auto text-bold">CONTACT</div>
        <div class="grid-col-fill ">SUSAN KEMPLER</div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-1 text-bold">DUNS #</div>
        <div class="grid-col-1">948091988</div>
        <div class="grid-col-1 text-bold">TIN #</div>
        <div class="grid-col-1">05</div>
        <div class="grid-col-1"></div>
        <div class="grid-row grid-gap">
            <div class="grid-col-fill text-bold">SIGNAL CODE</div>
            <div class="grid-col-fill">A</div>
            <div class="grid-col-fill text-bold">E/D</div>
            <div class="grid-col-fill">X</div>
            <div class="grid-col-fill text-bold">SDF</div>
            <div class="grid-col-fill">0</div>
            <div class="grid-col-fill text-bold">DSDF</div>
            <div class="grid-col-fill">0</div>
            <div class="grid-col-fill text-bold">FUND</div>
            <div class="grid-col-fill">KZ</div>
        </div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-10 text-bold">NOTES</div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-10">&nbsp;</div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-10">&nbsp;</div>
    </div>
    <div class="grid-row grid-gap">
        <div class="grid-col-10 text-bold text-underline">VENDOR DETAILS</div>
    </div>
</div>
