@{
    ViewData["Title"] = "Home Page";
}
<div class="grid-container" style="padding-top: 2em;padding-bottom: 2em;">
    <div class="grid-row grid-gap">
        <div class="tablet:grid-col">
            <h3>
                <span class="fa-stack fa-2x" style="font-size: 1em;">
                    <i class="fas fa-circle fa-stack-2x" style="color: #02bfe7;"></i>
                    <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
                </span>
                What’s new
            </h3>
            <ul class="usa-list">
                <li><span class="usa-tag">New</span> This section is for WebBill news and scheduled system outage.</li>
            </ul>
        </div>
        <div class="grid-col-auto">
            <h3>
                <span class="fa-stack fa-2x" style="font-size: 1em;">
                    <i class="fas fa-circle fa-stack-2x" style="color: #cd2026;"></i>
                    <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
                </span>
                Getting started
            </h3>
            <p>
                Learn how to get started using WebBill.
            </p>
            <p>
                <a class="usa-nav-link" href="javascript:void(0)">
                    Take the first step
                </a>
            </p>
        </div>
    </div>
</div>
